*{
    margin: 0;
    padding: 0;
}

.main {
    height: 80vh;
    background-image: url("assets/img/bg.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: maximum(1200px, 100vw);
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    height: 62px;
  }
  nav img{
    width: 124px;
    position: relative;
    z-index: 10;
  }
  nav button{
    position: relative;
    z-index: 10;
  }

  